{{#if loggedIn}}
  {{#if trails.length}}
    <!-- Render trails when logged in -->

    <ul class="trail-list">
      {{#each trails}}
        <li class="trail-item">
          <h2><a href="/trails/{{this.sanitized_trail_name}}" class="trail-name" data-trail-id="{{trail_name}}">{{this.trail_name}}</a></h2>
          <p>Difficulty: {{this.difficulty}}</p>
          <p>Rating: {{this.trailRatings.rating}}</p>
          <p>Elevation Gain: {{this.elevation_gain}}</p>
          <p>Length: {{this.length}}</p>
          <p>Description: {{this.description}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}

    <p>No trails available.</p>
  {{/if}}
{{else}}
  Please login to view trails!
{{/if}}