{{#if loggedIn}}
  {{#if trails.length}}
    <!-- Render trails when logged in -->
  <a href="/add-trail" class="button success">Add Trail</a>
    <ul class="trail-list grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
      {{#each trails}}
        <li class="trail-item card cell small-12 medium-6 large-4 shadow">
          <h2><a href="/trails/{{this.sanitized_trail_name}}" class="trail-name" data-trail-id="{{trail_name}}">{{this.trail_name}}</a></h2>
          <p>Difficulty: {{this.difficulty}}</p>
          <p>Length: {{this.length}}</p>
          <p>Description: {{this.description}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}

    <p>No trails available.</p>
  {{/if}}
{{else}}
  Please login to view trails!
{{/if}}